{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"><font style="text-shadow:2px 2px 2px #000;">Welcome To DONADONA!</div>
                <div class="masthead-heading text-uppercase">도나도나에 오신 것을 환영합니다!</div>
                <div class="masthead-subheading">Welcome To DONADONA!</font></div>
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'donadona:manual' %}"><font style="text-shadow:1px 1px 1px #000;">더 알아보기</font></a>
            </div>
        </header>
{% endblock %}
