{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">이용방법</h2>
                    <h3 class="section-subheading text-muted">How to use Donadona.</h3>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">정보 등록하기</h4>
                        <p class="text-muted">
                        1. 회원가입 혹은 로그인<br>
                        2. [마이페이지] > [도움정보 추가] 클릭<br>
                        3. 다른 사람을 도울 수 있는 요일/시간, 지역, 능력 입력
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">도움 요청하기</h4>
                        <p class="text-muted">
                        1. [도움 요청] 클릭 후, 내용 작성<br>
                        (작성 후 도와줄 수 있는 사용자에게 자동으로 문자 발송) <br>
                        2. 다른 사용자가 [도움 주기] 를 클릭할 경우, 도움을 줄 수 있는 사용자의 전화번호와 이름, 아이디가 적힌 문자를 받음 <br>
                        3. 문자를 받은 뒤, 적힌 번호로 연락해서 도움 받기<br>
                        4. 도움을 받은 후, [도움 해결] 버튼 클릭 (필수)</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">도움 나눠주기</h4>
                       <p class="text-muted">
                       1. 사전에 입력한 정보를 기반으로 도움 요청 문자를 받음</br>
                       2. 문자 확인 후 게시글의 [도움 주기] 버튼 클릭 (클릭한 사용자의 전화번호, 이름, 아이디가 담긴 문자가 자동 발송)<br>
                       3. 도움을 요청한 사용자로부터 연락이 오면 도움 주기
                    </div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">
                    도움 요청 문자 받기 :: 회원 가입 시, (SMS) 문자 수신을 허용한 사용자만 도움 요청 문자를 받을 수 있습니다. <br>
                    도움 요청 문자 보내기 :: 도움 요청 시 별도의 설정 없이, 도와줄 수 있는 사용자가 있다면 자동으로 문자가 발송됩니다.<br>
                    기타 :: 문자 비용은 도나도나에서 부담하며, 도움 요청 문자를 받지 않은 사용자도 도움을 나눠줄 수 있습니다.</p>
                    </div>
                <div>
            </div>
        </section>
{% endblock %}