{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ranking</h2>
                    <h3 class="section-subheading text-muted">다른 사람을 많이 도와주신 분들입니다.</h3>
                </div>
                <ul class="timeline">
                {% for user in users %}
                {% if user.hours != 0 %}
                    {% if forloop.counter|mod:2 == 0%}
                        <li>
                    {% else %}
                        <li class="timeline-inverted">
                    {% endif %}
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src='{% static "assets/img/about/1.jpg" %}' alt="..." /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>🎉 {{forloop.counter}}등</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted">{{forloop.counter}}등은 {{user.nickname}}님이십니다!
                                    <br>{{user.nickname}}님은 총 {{user.hours}}시간 동안 도움을 나누셨습니다.
                                    <br>도나도나와 함께해주셔서 감사드립니다. 👍
                                    <br>
                                    </p></div>
                            </div>
                        </li>
                {% endif %}
                {% endfor %}
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                YOU
                                <br />
                                CAN
                                <br />
                                DO IT!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
{% endblock %}