{% load static %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{% url 'donadona:main' %}"><font color = 'white'>DO</font>NADO<font color = 'white'>NA</font></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'donadona:list' %}">도움보기</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">도움요청</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">도움랭킹</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'donadona:manual' %}">이용방법</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'donadona:mypage' %}">{{user.nickname}}님</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">로그인</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>